
<div class="page-content page-accueil grid">
    
    <h1>La TekAntique</h1>
    <p>
        Nous vous proposons un morceau d'histoire technologique dans votre salon.
        Collectionneuse ou collectionneur d'oeuvres d'art électronique et autres objets informatiques, bienvenue !
    </p>
<div class="photo-vitrine photo-vitrine-1" >
        <img src="\assets\Images\Photos\vitrine2.png" alt="Vitrine" width="100%" height="100%"/>
</div>

 


<p class="accueil-paragraphe2">   

    Vous souhaitez dénicher la perle rare en matière d'Antiquité, notre plateforme vous propose la plus grande
    collection d'objet électronique de Bretagne. En la matière Rennes est plutôt bien dotée. Elle héberge des entreprises
    qui ont fait la renommée de la région en matière de recherche et d'innovation telles que France Télécom, Technicolor, Thales Microelectronics, Capgemini, Canon.
    La métropôle rennaise est précurseure en matière de micro-informatique, elle a vu naître le minitel. 
    Un véritable saut quantique en matière d'accès aux données de l'annuaire téléphonique et aux services télématiques.
    Un internet avant l'heure !   
    Mais pas seulement, Roadones développe ses laboratoires de recherche, les innovations d'aujourd'hui seront les Antiquités de demain.
    Notre plateforme aura à vous présenter de nombreuses pépites.   
     
</p>

<div class="photo-vitrine photo-vitrine-2" >
    <img src="\assets\Images\Photos\vitrine.png" alt="Vitrine" width="100%" height="100%"/>
</div>
</div>