
<footer class="footer">
        <div class="credits"><a routerlink="credits" href="credits" src="#credits">Crédits</a></div>
        <div class="afooter"><a routerlink="mentionslegales" href="mentionslegales" src="#mentionslegales">Mentions Légales</a></div>
        <div class="horaires">
                <div class="intitule">Les horaires</div>
                <div class="donnees"> Du mardi au samedi :<wbr> 9h-12h - 14h-18h
                                </div>

        </div>
        <div class="copy">Copyright &copy; 2023 <span class="brand">La TekAntique</span></div>
</footer>
