.article-container{ width: 100%;}
.page-salle-des-ventes{width: 100%;}
.articlelist{   display:grid;   
                width:100%;
                grid-template-columns:repeat(4,1fr);
                grid-template-rows:repeat(3,1fr);    
                grid-gap:4rem;
                margin-left: -0.5rem;  
}


.articlesitem {list-style: none;} 

.card .article-description{ 
        margin-top : 1em;
        margin-bottom : 1em;  
      }

.card-body{display:grid;
  
   & img{ justify-content: space-around;margin:0 auto;
      
   }
 .card-article-button{width:60%!important;margin:1rem auto;}  
 .card-article-button:active{background-color: #97da7b;}
 .article-caracteristiques{justify-content: center;margin:0 auto;}
 .article-caracteristiques:last-child{margin-bottom:1rem;}
   }         
 .pagemanagement{
            display:block;
            grid-column-start: 2;grid-column-end: 2;
            text-align: center;
            & ul li{display:inline-block;list-style:  none;text-decoration: none!important;margin:0 0.2rem;}
            & ul li:first-child:before{content:'Pages ';}  
            & ul li:not(:last-child):after{content:' -';}
            & ul li:active{text-decoration: underline;}
            grid-column : 1/span 4;   
          }

          @media screen and (max-width:468px){

            .articlelist{   display:block;
                            margin-left:0rem; 
                            padding:0rem; 
                            margin-bottom: 1rem;   
              width:100%;}
            }