
<div class="page-content page-credits">
        <h1>Crédits</h1>

        <div class="logoStudi" ><img src="/assets/Images/Logos/Logo-Studi.png" alt="Logo Studi" title="Logo Studi" width="100%" height="100%">  </div>
        
        <h2>Je remercie :</h2>
        <ul>
          <li>la Région Bretagne pour le soutient apporté</li>
          <li>le Département d'Ille et Vilaine</li>
          <li>l'organisme de formation STUDI , Mr Pierre Charvet son Directeur Général </li> 
        </ul>
        

        <ul>
         <li>Mr Jean Charles Daguin, Responsable de la formation</li>
         <li>Mr Grégory Renuy, Responsable pédagogique</li>
         <li>Mr Maxime Rochedieu, Graduate Développeur</li>
        
         <li>Et particulièrement Mr Ala Atrash pour ses indiquations salutaires.</li> 
         <li>Mr Nathan Delhore, pour ses cours passionants.</li>
        
        
         <li>...</li>
        </ul>
        
        <h2>Images</h2>
        <ul>
            <ul><h3>Photos</h3>
                <li>Experts faces : <a href='https://thispersondoesnotexist.com' alt="">https://thispersondoesnotexist.com</a></li>
                <li>Photo Vitrine : <a href='https://easydiffusion.github.io/' alt='EasyDiffusion'>EasyDiffusion</a> </li>
            </ul>
            <ul><h3>Icones et logos</h3>
                <li><a href="https://www.flaticon.com" alt="https://www.flaticon.com">https://www.flaticon.com</a></li> 
                <li>homme default expert : <a href="https://www.freepik.com" alt="https://www.freepik.com" >auteur freepik.com</a></li>               
            </ul>  
           
            
            
        </ul>
        <div class="logoBretagne"><iframe  width="40%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/722522275&color=5a9eaa"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/user-619930250-277401226" title="Région Bretagne" target="_blank" style="color: #cccccc; text-decoration: none;">Région Bretagne</a> · <a href="https://soundcloud.com/user-619930250-277401226/region-bretagne-v1-sonnerie-autres-formats" title="Region Bretagne - Identité sonore" target="_blank" style="color: #cccccc; text-decoration: none;">Region Bretagne</a></div></div>
</div>