<form id="formauthentification" [formGroup]="form">
    <h3>Veuillez vous connecter pour passer commande ! </h3>
    <fieldset>
        <legend>Login</legend>
        <div class="form-field">
            <label for="email1">Email:</label>
            <input  id="email1" name="email"  type="text" formControlName ="email" autocomplete="off" >
        </div>
        <div class="form-field">
            <label for="password1">Mot de passe:</label>
            <input id="password1" name="password" type="password" formControlName ="password" autocomplete="off" > 

               
        </div>
    </fieldset>   
    <div class="form-buttons  newclient-button-parent" > 
        <button type="button" class="button newclient-button" (click)="openModal('modalnewclient')" data-bs-toggle="modal"  data-bs-target="#newclient">Nouveau Client</button>
        
   
    </div>   
    <div class="form-buttons  login-button" >
        <button class="button button-primary" 
                (click)="authenticate()">Login</button>
    </div>
   
    

    

      
    <app-form-create-client id="modalnewclient" #modalnewclient > </app-form-create-client> 
    
        <div div="form-authentification-message">{{ authentificationMessage }}</div>

  

</form>
